<div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
    <li><a href='#/signout' class='logout'>Logout</a></li>
  </ul>
</div>

<div id='container' class='creator'>
  <form name='urlInput'>
      <input class='message' type='url' name='url' ng-model="shortenLink" >
      <input type='submit' value='Shorten' ng-click="addLink(urlInput.$valid)">
      <div ng-show="urlInput.url.$error.url"> Invalid URL </div>
  </form>

  <img ng-show="spinner" class='spinner' src='/assets/spiffygif_46x46.gif'>
  <div class='message' ng-hide="hidden">
  <div class='link'>
    <img class='spinner' src='/assets/redirect_icon.png'/>
    <div class='info'>
      <div class='title'>{{link.title}}</div>
      <div class='original'>{{link.url}}</div>
      <a href='{{link.base_url}}/{{link.code}}'>{{link.base_url}}/{{link.code}}</a>
  </div> 
  </div>
    
  </div>
</div>


